body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Roboto', monospace;
}

.slick-disabled{
  color: lightgray !important;
}

/* add class to card and layout content for responsive behaviour */
.card-media{
  width: 300px;
}
.ant-layout-content{
  margin: 0 80px;
}

/* responsive part */
@media (max-width: 500px) {
  .card-media{
    width: 200px;
  }

  .ant-layout-content{
    margin: 0 50px;
  }
}